{% extends 'base.html.twig' %}

{% block title %}Hello WineController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        {% for wine in wines %}
        <li>{{wine.name}}</li>
        <a role="button" href="{{url('app_wine_delete', {id:wine.id})}}">Delete</a>
        {% endfor %}
    </ul>
</div>
{% endblock %}
